@media(min-width: 768px){
	.concept-video{
		height: 75vh !important;
	}
}

@media(max-width: 1024px){
#app > div.app-inner.flex.flex-col.min-h-full.overflow-x-hidden > div.concept-video.py-5.w-full.relative.bg-no-repeat.bg-center.bg-cover.bg-origin-border.overflow-hidden.block.block{
	    max-height: 75vh !important;

}

}

#app > div.app-inner.flex.flex-col.min-h-full.overflow-x-hidden > section.concept-categories.mt-20.mb-4.block.block{
	margin-top: 1rem !important;
}
